body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background: linear-gradient(171deg, rgba(208,172,242,1) 8%, rgba(217,246,246,1) 70%);
}

a {
  font-size: .9rem;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* welcome */

nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(217, 246, 246);
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.icon {
  font-size: 2rem;
}

.iconshow {
  display: none;
}

.menu {
  display: none;
}

.menushow {
  display: block;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  height: 60px;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-right: 1.5rem;
}

.navbar__links i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
}

.navbar__link {
  border: 2px solid rgb(208, 172, 242);
  border-radius: 10px;
  margin: 2px;
  padding: .25rem;
}

.banner__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__section h1 {
  margin: 0;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0.25rem;
  text-decoration: underline;
}

.banner__image {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: .5rem;
}

.addmovie__button {
  border: .1px solid rgb(207, 199, 199);
  border-radius: 10px;
  padding: 1rem;
  margin: .5rem;
  width: 250px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.movies__table {
  width: auto; 
  margin: 1rem;
  border-spacing: 4px;
}

.movies__head {
  border-radius: 10px;
  padding: .5rem;
  background-color: rgb(208, 172, 242);
}

.movies__input {
  border-radius: 10px;
  background-color: rgb(232, 227, 223);
  padding: 0 .5rem;
}

.movies__button {
  border: .1px solid rgb(207, 199, 199);
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;
  width: 100px;
}

.form {
  margin: 1.65rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.movie--form {
  height: 125px;
  width: 250px;
  background-color: rgb(250, 245, 223);
  border: 1px solid rgb(19, 3, 3);
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.movie--form input {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  width: 150px;
}

.genre--form {
  height: 125px;
  width: 250px;
  background-color: rgb(250, 245, 223);
  border: 1px solid rgb(19, 3, 3);
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.genre--form select {
  padding: .5rem;
  border-radius: 10px;
  border: none;
  width: 150px;
}

.send__button {
  border: .1px solid rgb(207, 199, 199);
  border-radius: 10px;
  padding: 1rem;
  margin: .5rem;
  width: 150px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.error__message {
  color: red;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}